EDelivery.WebPortal/RegixInfoClient/Service References/RegiXEntryPoint/RegiXEntryPoint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://regix-service-test.egov.bg/regix/RegiXEntryPoint.svc?xsd=xsd1" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="request" type="tns:ServiceRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceRequestData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Operation" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Име на извикваната операция. За повече информация за иментата на операциите http://regixaisweb.egov.bg/regixinfo/. 
            Пример: "TechnoLogica.RegiX.GraoNBDAdapter.APIService.INBDAPI.ValidPersonSearch"
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Argument">
        <xs:annotation>
          <xs:documentation>
            <summary>
            XML съдържание на заявката. За повече информация за структурата(xsd) на заявките за различните операции: http://regixaisweb.egov.bg/regixinfo/.
            Важно е да се знае, че елементите трябва да са qualified, т.е. да включват namespace от схемата за избраната операция
            </summary>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              <summary>
            XML съдържание на заявката. За повече информация за структурата(xsd) на заявките за различните операции: http://regixaisweb.egov.bg/regixinfo/.
            Важно е да се знае, че елементите трябва да са qualified, т.е. да включват namespace от схемата за избраната операция
            </summary>
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EIDToken" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Идентификатор за електронна идентичност(получен от http://eid.egov.bg/)
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CallContext" type="tns:CallContext">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Контекст, в който се прави извикване. Запазва се в логовете на RegiX
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CallbackURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeEGN" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            ЕГН на служителя, изпълняващ заявката. Не се запазва в логовете на RegiX, а директно се предава към Първичния регистър
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CitizenEGN" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            ЕГН на лицето, за който се прави справка, ако справката е за физическо лице. 
            Не се запазва в логовете на RegiX, а директно се предава към Първичния регистър
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SignResult" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Указва дали резултата да бъде подписан след изготвянето му
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnAccessMatrix" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Указва дали да се върне матрицата за достъп, с която са получени данните, спрямо правата на консуматора
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallContext">
    <xs:annotation>
      <xs:documentation>
        <summary>
            Контекст, в който се прави извикване. Запазва се в логовете на RegiX
            </summary>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceURI" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Идентификатор на инстанцията на административната услуга или процедура в организацията (например: номер на преписка)
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceType" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Вид на услугата, във връзка с която се извиква операцията
            За административна услуга: типа на услугата;
            За проверовъчна дейност: вида на дейността;
            За друга причина за използване: описание на причината;
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeIdentifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Идентификатор на служител – например EMAIL адрес, с който служителя влиза в АД на съответната администрация (или с който фигурира в ЕИСУЧРДА). 
            Идентификатора трябва да е проверен от информационната система клиент
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeNames" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Имена на служител
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeAditionalIdentifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Опционален допълнителен идентификатор на служител от администрация – например номера на служебната карта
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeePosition" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Длъжност или позиция на служителя в администрацията
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdministrationOId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Идентификационен код на администрация (oID от eAuth)
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdministrationName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
             Име на администрация, ползваща системата
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ResponsiblePersonIdentifier" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Опционален идентификатор на човека отговорен за справката. 
            Тук трябва да се слага стойност, когато заявките не се инициират ръчно от конкретен служител, а се генерират автоматично от информационна система. 
            Това може да бъде ръководителя на Администрацията, ползваща информационната система.
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LawReason" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Контекст на правното основание. 
            Правното основание може да произтича директно от нормативната уредба или да бъде базирано на сключено споразумение.
            Тук се описва правно основание или се цитира регистрирано такова.
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Remark" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Допълнително поле в свободен текст 
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ExecuteResult" type="tns:ServiceExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceCallID" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Идентификатор на подаден заявка, с който в последствие може да се получи резултата
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasError" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Указва дали е възникнала грешка
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Error" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Съобщение за грешка. Setting this propery automatically sets the HasError property to true
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="argument" type="tns:ServiceCheckResultArgument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceCheckResultArgument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceCallID" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Идентификатор на пусната вече асинхронна заявка. Този идентификатор е един от елементите на резултата от извикване на Execute
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CheckResultResult" type="tns:ServiceResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceResultData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IsReady" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Указва, дали са получени данни от Първичния регистър
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Data" nillable="true" type="tns:DataContainer">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Данни, които връща операцията. Тук има данни, при HasError=false и IsReady=true
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" minOccurs="1" maxOccurs="1" ref="q1:Signature">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Подпис, върху контейнера с данни
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasError" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Указва дали е възникнала грешка при изпълнение на операцията
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Error" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Съобщение за грешка. При HasError=true
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataContainer">
    <xs:annotation>
      <xs:documentation>
        <summary>
            Данни, които връща операцията. Тук има данни, при HasError=false и IsReady=true
            </summary>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Request" type="tns:RequestContainer">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Съдържа входните параметри на справката. Съответства на елемента Argument от получения ServiceRequest
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Response" type="tns:ResponseContainer">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Получен отговор, спрямо входните параметри и матрицата за достъп.За повече информация за структурата на получения резултатен xml: http://regixaisweb.egov.bg/RegiXInfo
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Matrix" nillable="true">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Матрица за достъп до данните. Описва до кои характеристики на резултатния обект, консуматора има достъп и до кои няма.
            </summary>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              <summary>
            Матрица за достъп до данните. Описва до кои характеристики на резултатния обект, консуматора има достъп и до кои няма.
            </summary>
            </xs:documentation>
          </xs:annotation>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:AccessMatrixType">
              <xs:attribute name="id" type="xs:ID" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="RequestContainer">
    <xs:annotation>
      <xs:documentation>
        <summary>
            Съдържа входните параметри на справката. Съответства на елемента Argument от получения ServiceRequest
            </summary>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="ResponseContainer">
    <xs:annotation>
      <xs:documentation>
        <summary>
            Получен отговор, спрямо входните параметри и матрицата за достъп.За повече информация за структурата на получения резултатен xml: http://regixaisweb.egov.bg/RegiXInfo
            </summary>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="AccessMatrixType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="HasAccess" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Дали достъпът до текущата характеристика е позволен
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Име на функцията за проверка
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Properties" type="tns:ArrayOfAMPropertyType">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Характеристики
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAMPropertyType">
    <xs:annotation>
      <xs:documentation>
        <summary>
            Характеристики
            </summary>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Property" type="tns:AMPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AMPropertyType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="HasAccess" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Дали достъпът до текущата характеристика е позволен
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <summary>
            Наименование
            </summary>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteSynchronous">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="request" type="tns:ServiceRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSynchronousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ExecuteSynchronousResult" type="tns:ServiceResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>