EDelivery.WebPortal/RegixInfoClient/Service References/RegiXEntryPoint/RegiXEntryPoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegiXEntryPoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRegiXEntryPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="true" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://regix-service-test.egov.bg/regix/RegiXEntryPoint.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://regix-service-test.egov.bg/regix/RegiXEntryPoint.svc?xsd=xsd1" namespace="http://www.w3.org/2000/09/xmldsig#" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegiXEntryPoint_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IRegiXEntryPoint_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IRegiXEntryPoint_CheckResult_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckResult" />
  </wsdl:message>
  <wsdl:message name="IRegiXEntryPoint_CheckResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResultResponse" />
  </wsdl:message>
  <wsdl:message name="IRegiXEntryPoint_ExecuteSynchronous_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSynchronous" />
  </wsdl:message>
  <wsdl:message name="IRegiXEntryPoint_ExecuteSynchronous_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSynchronousResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegiXEntryPoint">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegiXEntryPoint/Execute" message="tns:IRegiXEntryPoint_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegiXEntryPoint/ExecuteResponse" message="tns:IRegiXEntryPoint_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegiXEntryPoint/CheckResult" message="tns:IRegiXEntryPoint_CheckResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegiXEntryPoint/CheckResultResponse" message="tns:IRegiXEntryPoint_CheckResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSynchronous">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegiXEntryPoint/ExecuteSynchronous" message="tns:IRegiXEntryPoint_ExecuteSynchronous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegiXEntryPoint/ExecuteSynchronousResponse" message="tns:IRegiXEntryPoint_ExecuteSynchronous_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRegiXEntryPoint" type="tns:IRegiXEntryPoint">
    <wsp:PolicyReference URI="#WSHttpBinding_IRegiXEntryPoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <wsdl:documentation>
        <summary>
            Изпълнява заявката асинхронно
            </summary>
        <param name="request">Аргумент за изпълнение на заявка</param>
        <returns>Резултат от изпълнението на асинхронната заявка</returns>
      </wsdl:documentation>
      <soap12:operation soapAction="http://tempuri.org/IRegiXEntryPoint/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckResult">
      <wsdl:documentation>
        <summary>
            Проверка на резултата от изпълнението на асинхронни заявки
            </summary>
        <param name="argument">Аргумент съдържащ идентификатор на асинхронната операция</param>
        <returns>Резултат от изпълнението на асинхронната заявка</returns>
      </wsdl:documentation>
      <soap12:operation soapAction="http://tempuri.org/IRegiXEntryPoint/CheckResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSynchronous">
      <wsdl:documentation>
        <summary>
            Изпълнява заявката синхронно
            </summary>
        <param name="request">Аргумент за изпълнение на заявка</param>
        <returns>Резултат от изпълнението заявката</returns>
      </wsdl:documentation>
      <soap12:operation soapAction="http://tempuri.org/IRegiXEntryPoint/ExecuteSynchronous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegiXEntryPoint">
    <wsdl:documentation>
      <summary>
            Услуга съдържаща операции за работа с API услуги. Позволява синхронно и асинхронно изпълнение на произволни API услуги, които са част от RegiX
            </summary>
    </wsdl:documentation>
    <wsdl:port name="WSHttpBinding_IRegiXEntryPoint" binding="tns:WSHttpBinding_IRegiXEntryPoint">
      <soap12:address location="https://regix-service-test.egov.bg/regix/RegiXEntryPoint.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://regix-service-test.egov.bg/regix/RegiXEntryPoint.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>