EDelivery.WebPortal/EDelivery.WebPortal/Service References/SeosService/SEOSPostService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23514/SEOSPostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" />
  <xs:import schemaLocation="http://localhost:23514/SEOSPostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:23514/SEOSPostService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:23514/SEOSPostService.svc?xsd=xsd3" namespace="http://schemas.egov.bg/messaging/v1" />
  <xs:element name="SendSeos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSeosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="SendSeosResult" nillable="true" type="q1:SendMessageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAs4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAs4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="SendAs4Result" nillable="true" type="q2:SendMessageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivedDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="eSubjectId" type="q3:guid" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="sortColumn" type="q4:SortColumnEnum" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="sortOrder" type="q5:SortOrderEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivedDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetReceivedDocumentsResult" nillable="true" type="q6:MessagesPageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="eSubjectId" type="q7:guid" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="sortColumn" type="q8:SortColumnEnum" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="sortOrder" type="q9:SortOrderEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetSentDocumentsResult" nillable="true" type="q10:MessagesPageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMessagesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="profileGuidList" nillable="true" type="q11:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMessagesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNewMessagesCountResult" nillable="true" type="q12:ArrayOfKeyValueOfguidint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="request" nillable="true" type="q13:OpenDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="OpenDocumentResult" nillable="true" type="q14:OpenDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetRegisteredEntitiesResult" nillable="true" type="q15:ArrayOfRegisteredEntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDeliveryEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDeliveryEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetEDeliveryEntityResult" nillable="true" type="q16:RegisteredEntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="entityId" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetRegisteredEntityResult" nillable="true" type="q18:RegisteredEntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasSeos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uicList" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasSeosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HasSeosResult" nillable="true" type="q20:ArrayOfKeyValueOfstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDocumentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="messageId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="electronicSubjectId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDocumentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.egov.bg/messaging/v1" minOccurs="0" name="CheckDocumentStatusResult" nillable="true" type="q23:DocumentStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="messageId" type="q24:guid" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="eSubjectId" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetDocumentStatusResult" nillable="true" type="q26:ChangeDocumentStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="request" nillable="true" type="q27:ChangeDocumentStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDocumentStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="messageGuid" nillable="true" type="q28:guid" />
        <xs:element minOccurs="0" name="attachmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="GetDocumentAttachmentResult" nillable="true" type="q29:AttachmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachmentWithScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="doc" nillable="true" type="q30:AttachmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachmentWithScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="SaveAttachmentWithScanResult" nillable="true" type="q31:MalwareScanResultResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="request" nillable="true" type="q32:MessageRequest" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="corespondent" nillable="true" type="q33:CorespondentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EDelivery.SEOS.DataContracts" minOccurs="0" name="SendMessageResult" nillable="true" type="q34:SubmitStatusRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>